@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

#autumn-2023-campaign {
    position: relative;
    display: grid;
    margin: 2rem 0 1rem 0;
    overflow-x: hidden;

    height: 303vw;

    font-family: 'RocknRoll One', sans-serif;
    color: rgb(80, 80, 80);
}

/* BACKGROUND BUBBLES */
#autumn-2023-campaign .background-bubbles .bubble {
    position: absolute;
    border-radius: 50%;
    
    background-color: #6A2C70;
    border: .7rem solid #B83B5E;
}

#autumn-2023-campaign a {
    color: rgb(80, 80, 80);
}

a#campaign-contact-button {
    color: #fff;
}

#autumn-2023-campaign .background-bubbles .big-bubble {
    width: 180vw;
    height: 180vw;

    position: absolute;
    border-radius: 50%;
    
    background-color: #F9ED69;
}

#autumn-2023-campaign .background-bubbles .bubble-md {
    width: 60vw;
    height: 60vw;    
}

#autumn-2023-campaign .background-bubbles .bubble-sm {
    width: 30vw;
    height: 30vw;    
}

#big-bubble-1 {
    top: 2vw;
    right: -40vw;
}

#big-bubble-2 {
    top: 87vw;
    left: -40vw;
}

#background-bubble-1 {
    right: 3vw;
    top: 10vw;
}

#background-bubble-2 {
    left: 7vw;
    top: 57vw;
}

#background-bubble-3 {
    left: 6vw;
    top: 112vw;
}

#background-bubble-4 {
    right: 5vw;
    top: 185vw;
}

#background-bubble-5 {
    left: 8vw;
    top: 240vw;
}

/* PHOTO BUBBLE */
.photo-bubble {
    z-index: 2;
    position: absolute;
    border: min(5vw, 60px) solid #F08A5D;
    border-radius: 50%;
    background-repeat: no-repeat;
    box-shadow: 0 0 .5rem .3rem rgba(0, 0, 0, .2);
}

#photo-1 {
    background-image: url('/assets/img/all_ones_campaign/all_ones_campaign_01_700.jpg');
    background-size: cover;
    background-position: 30% 50%;

    height: 35vw;
    width: 35vw;

    top: 36vw;
    right: 4vw;
}

#photo-2 {
    background-image: url('/assets/img/all_ones_campaign/all_ones_campaign_03_700.jpg');
    background-size: cover;
    background-position: 77% 50%;

    height: 27vw;
    width: 27vw;

    top: 108vw;
    left: 6vw;
}

#photo-3 {
    background-image: url('/assets/img/all_ones_campaign/all_ones_campaign_04_700.jpg');
    background-size: cover;
    background-position: 56% 50%;

    height: 30vw;
    width: 30vw;

    top: 128vw;
    right: 9vw;
}

#photo-4 {
    background-image: url('/assets/img/all_ones_campaign/all_ones_campaign_05_700.jpg');
    background-size: cover;
    background-position: 0% 50%;

    height: 27vw;
    width: 27vw;

    top: 203vw;
    left: 1vw;
}

/* GENERIC BUBBLE STYLING */
#autumn-2023-campaign .bubble {
    position: absolute;
    border-radius: 50%;

    background-color: #B83B5E;

    display: grid;
    place-content: center;

    text-align: center;
}

#autumn-2023-campaign .bubble-inner {
    border-radius: 50%;

    background-color: #F8F3D4;
    border: .2rem solid #F9F7F7;

    box-shadow: 0 0 .3rem .3rem rgba(0, 0, 0, .2) inset;

    display: grid;
    place-content: center;
}

/* LAYOUT 1 */
/* SM BUBBLE */
#autumn-2023-campaign .bubble-sm {
    height: 50vw;
    width: 50vw;
}

#autumn-2023-campaign .bubble-sm-inner {
    z-index: 1;

    height: 35vw;
    width: 35vw;
}

/* MD BUBBLE */
#autumn-2023-campaign .bubble-md {
    height: 70vw;
    width: 70vw;
}

#autumn-2023-campaign .bubble-md-inner {
    z-index: 1;

    height: 55vw;
    width: 55vw;
}

/* MD-LG BUBBLE */
#autumn-2023-campaign .bubble-md-lg {
    height: 85vw;
    width: 85vw;
}

#autumn-2023-campaign .bubble-md-lg-inner {
    z-index: 1;

    height: 70vw;
    width: 70vw;
}

#autumn-2023-campaign .md-lg-text-container {
    padding: 1.5rem;
    margin-top: 2vw;
}

/* SECTION BUBBLE STYLING */
#campaign-title {
    left: -2vw;

    font-size: 1.3rem;
}

#campaign-title .bubble-md-inner {
    transform: rotate(-15deg);
}

#campaign-description {
    right: -5vw;
    top: 56vw;

    font-size: .5rem;
}

#autumn-2023-campaign .campaign-point {
    font-size: .8rem;
}

#campaign-point-1 {
    top: 127vw;
    left: 11vw;
}

#campaign-point-2 {
    top: 154vw;
    right: 5vw;
}

#campaign-point-3 {
    top: 169vw;
    left: 5vw;
}

#campaign-call-to-action {
    top: 206vw;
    right: 10vw;
}

#campaign-contact-button {
    background-color: #6A2C70;
    padding: .2rem .3rem;
    margin-top: .3rem;

    justify-self: center;

    color: #fff;
    border-radius: 99rem;
}

#autumn-2023-campaign .call-to-action-text-container {
    margin-top: 1rem;

    font-size: .65rem;

    display: grid;
}

#campaign-clarification {
    position: absolute;
    bottom: 0;
    padding: 0 1rem;
    font-size: .7rem;
}

@media (min-width: 350px) {
    #autumn-2023-campaign {
        height: 299vw;
    }

    #photo-1 {
        top: 29vw;
        right: 2vw;
    }

    #photo-2 {
        top: 110vw;
        left: 2vw;
    }

    #photo-3 {
        height: 35vw;
        width: 35vw;
        top: 126vw;
        right: 4vw;
    }

    #photo-4 {
        height: 23vw;
        width: 23vw;
        top: 202vw;
        left: 2vw;
    }

    #campaign-title {
        font-size: 1.6rem;
    }
    
    #campaign-description {
        font-size: 1.05rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: .95rem;
    }
    
    #autumn-2023-campaign .call-to-action-text-container {
        font-size: .9rem;
        margin-top: .2rem;
    }

    #campaign-contact-button {
        font-size: .8rem;
        padding: .2rem .5rem;
    }
}

@media (min-width: 400px) {
    #autumn-2023-campaign {
        height: 287vw;
    }

    #photo-1 {
        height: 38vw;
        width: 38vw;
        top: 32vw;
        right: 2vw;
    }

    #photo-2 {
        height: 27vw;
        width: 27vw;
        top: 108vw;
        left: 4vw;
    }

    #photo-3 {
        height: 35vw;
        width: 35vw;
        top: 124vw;
        right: 4vw;
    }

    #photo-4 {
        height: 23vw;
        width: 23vw;
        top: 202vw;
        left: 2vw;
    }

    #campaign-title {
        font-size: 1.8rem;
    }
    
    #campaign-description {
        font-size: 1.05rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.2rem;
    }

    #campaign-contact-button {
        padding: .5rem .9rem;
        margin-top: .75rem;
    }
    
    #autumn-2023-campaign .call-to-action-text-container {
        margin-top: .1rem;
        font-size: 1rem;
    }

    #campaign-clarification {
        font-size: .69rem;
    }
}

@media (min-width: 450px) {
    #campaign-title {
        font-size: 2rem;
    }

    #photo-1 {
        height: 38vw;
        width: 38vw;
        top: 34vw;
        right: 2vw;
    }

    #photo-2 {
        height: 27vw;
        width: 27vw;
        top: 109vw;
        left: 4vw;
    }

    #photo-3 {
        height: 37vw;
        width: 37vw;
        top: 123vw;
        right: 3vw;
    }

    #photo-4 {
        height: 23vw;
        width: 23vw;
        top: 204vw;
        left: 2vw;
    }
    
    #campaign-description {
        font-size: 1.1rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.2rem;
    }

    #campaign-clarification {
        font-size: .79rem;
    }
    
    #autumn-2023-campaign .call-to-action-text-container {
        font-size: 1.1rem;
    }

    #campaign-contact-button {
        font-size: 1rem;
        padding: .4rem .7rem;
    }
}

@media (min-width: 500px) {
    #campaign-title {
        font-size: 2.2rem;
    }

    #photo-1 {
        height: 38vw;
        width: 38vw;
        top: 34vw;
        right: 2vw;
    }

    #photo-2 {
        height: 27vw;
        width: 27vw;
        top: 108vw;
        left: 4vw;
    }

    #photo-3 {
        height: 37vw;
        width: 37vw;
        top: 123vw;
        right: 3vw;
    }

    #photo-4 {
        height: 23vw;
        width: 23vw;
        top: 204vw;
        left: 2vw;
    }
    
    #campaign-description {
        font-size: 1.2rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.3rem;
    }

    #campaign-clarification {
        font-size: .88rem;
    }

    #autumn-2023-campaign .call-to-action-text-container {
        font-size: 1.2rem;
        margin-top: 0;
    }

    #campaign-contact-button {
        font-size: 1.1rem;
    }
}

@media (min-width: 550px) {
    #campaign-title {
        font-size: 2.4rem;
    }
    
    #campaign-description {
        font-size: 1.3rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.4rem;
    }

    #autumn-2023-campaign .call-to-action-text-container {
        font-size: 1.3rem;
    }

    #campaign-contact-button {
        font-size: 1.2rem;
    }
}

/* LAYOUT 2 */
@media (min-width: 576px) {
    #autumn-2023-campaign {
        height: 284vw;
    }
}

@media (min-width: 600px) {
    #autumn-2023-campaign {
        height: 286vw;
    }

    #campaign-title {
        font-size: 2.6rem;
    }

    #campaign-description {
        font-size: 1.5rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.6rem;
    }

    #campaign-call-to-action .call-to-action-text-container {
        font-size: 1.4rem;
    }

    #campaign-contact-button {
        font-size: 1.4rem;
    }
}

@media (min-width: 650px) {
    #campaign-title {
        font-size: 3rem;
    }

    #photo-1 {
        height: 36vw;
        width: 36vw;
        top: 32vw;
        right: 2vw;
    }

    #photo-2 {
        height: 27vw;
        width: 27vw;
        top: 109vw;
        left: 4vw;
    }

    #photo-3 {
        height: 37vw;
        width: 37vw;
        top: 123vw;
        right: 3vw;
    }

    #photo-4 {
        height: 23vw;
        width: 23vw;
        top: 205vw;
        left: 2vw;
    }

    #campaign-description {
        font-size: 1.85rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.9rem;
    }

    #campaign-call-to-action .call-to-action-text-container {
        font-size: 1.45rem;
    }
}

@media (min-width: 700px) {
    #photo-1 {
        height: 37vw;
        width: 37vw;
        top: 34vw;
        right: 2vw;
    }

    #photo-2 {
        height: 27vw;
        width: 27vw;
        top: 110vw;
        left: 1vw;
    }

    #photo-3 {
        height: 37vw;
        width: 37vw;
        top: 123vw;
        right: 3vw;
    }

    #photo-4 {
        height: 23vw;
        width: 23vw;
        top: 204vw;
        left: 2vw;
    }

    #campaign-call-to-action .call-to-action-text-container {
        font-size: 1.75rem;
    }

    #campaign-contact-button {
        font-size: 1.6rem;
    }
}

/* LAYOUT 3 */
@media (min-width: 768px) {
    #autumn-2023-campaign {
        height: 178vw;
    }

    /* SM BUBBLE */
    #autumn-2023-campaign .bubble-sm {
        height: 40vw;
        width: 40vw;
    }

    #autumn-2023-campaign .bubble-sm-inner {
        height: 25vw;
        width: 25vw;
    }

    /* MD BUBBLE */
    #autumn-2023-campaign .bubble-md {
        height: 50vw;
        width: 50vw;
    }

    #autumn-2023-campaign .bubble-md-inner {
        height: 35vw;
        width: 35vw;
    }

    #campaign-title {
        font-size: 2.1rem;
    }

    /* MD-LG BUBBLE */
    #autumn-2023-campaign .bubble-md-lg {
        height: 70vw;
        width: 70vw;
    }

    #autumn-2023-campaign .bubble-md-lg-inner {
        height: 55vw;
        width: 55vw;
    }

    #autumn-2023-campaign .background-bubbles .big-bubble {
        width: 150vw;
        height: 150vw;
    }

    #photo-1 {
        height: 24vw;
        width: 24vw;
        top: 2vw;
        right: 7vw;
    }

    #photo-2 {
        height: 27vw;
        width: 27vw;
        top: 67vw;
        left: -4vw;
    }

    #photo-3 {
        height: 25vw;
        width: 25vw;
        top: 98vw;
        right: -7vw;
    }

    #photo-4 {
        height: 23vw;
        width: 23vw;
        top: 122vw;
        left: -6vw;
    }

    #big-bubble-1 {
        top: min(2vw, 24px);
        right: min(-30vw, -360px);
    }

    #big-bubble-2 {
        top: min(16vw, 192px);
        right: min(-25vw, -300px);
        left: auto;
    }

    #background-bubble-1 {
        right: min(12vw, 144px);
        top: min(7vw, 84px);
    }

    #background-bubble-2 {
        right: min(3vw, 36px);
        left: min(7vw, 84px);
        top: min(60vw, 720px);
    }

    #background-bubble-3 {
        left: auto;
        right: min(2vw, 24px);
        top: min(53vw, 636px);
    }

    #background-bubble-4 {
        top: min(110vw, 1320px);
        right: min(11vw, 132px);
    }

    #background-bubble-5 {
        top: min(107vw, 1284px);
        left: min(2vw, 24px);
    }

    #campaign-description {
        top: 13vw;
        font-size: 1.5rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.5rem;
    }

    #campaign-point-1 {
        top: 41vw;
        left: 6vw;
    }
    
    #campaign-point-2 {
        top: 67vw;
        right: auto;
        left: 24vw;
    }
    
    #campaign-point-3 {
        top: 74vw;
        right: 6vw;
        left: auto;
    }

    #campaign-call-to-action {
        top: 98vw;
        left: 14vw;
    }

    #campaign-call-to-action.bubble-md {
        width: 70vw;
        height: 70vw;
    }

    #campaign-call-to-action .bubble-md-inner {
        width: 55vw;
        height: 55vw;
    }

    #campaign-call-to-action .call-to-action-text-container {
        font-size: 2.1rem;
        margin-top: 2rem;
    }

    #campaign-contact-button {
        padding: .6rem .9rem;
    }

    #campaign-clarification {
        font-size: 1rem;
    }
}

@media (min-width: 800px) {
    #campaign-title {
        font-size: 2.2rem;
    }

    #campaign-description {
        font-size: 1.6rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.6rem;
    }

    #campaign-call-to-action .call-to-action-text-container {
        font-size: 2rem;
    }

    #campaign-contact-button {
        font-size: 1.7rem;
    }
}

@media (min-width: 850px) {
    #photo-1 {
        height: 24vw;
        width: 24vw;
        top: 2vw;
        right: 7vw;
    }

    #photo-2 {
        height: 27vw;
        width: 27vw;
        top: 67vw;
        left: -4vw;
    }

    #photo-3 {
        height: 25vw;
        width: 25vw;
        top: 99vw;
        right: -4vw;
    }

    #photo-4 {
        height: 23vw;
        width: 23vw;
        top: 119vw;
        left: -4vw;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.7rem;
    }

    #campaign-call-to-action .call-to-action-text-container {
        font-size: 2rem;
    }

    #campaign-contact-button {
        font-size: 1.8rem;
    }
}

@media (min-width: 900px) {
    #campaign-title {
        font-size: 2.5rem;
    }

    #campaign-description {
        font-size: 1.8rem;
    }
}

@media (min-width: 950px) {
    #photo-1 {
        height: 24vw;
        width: 24vw;
        top: 2vw;
        right: 7vw;
    }

    #photo-2 {
        height: 27vw;
        width: 27vw;
        top: 67vw;
        left: -4vw;
    }

    #photo-3 {
        height: 25vw;
        width: 25vw;
        top: 98vw;
        right: -6vw;
    }

    #photo-4 {
        height: 23vw;
        width: 23vw;
        top: 121vw;
        left: -4vw;
    }

    #campaign-title {
        font-size: 2.7rem;
    }

    #campaign-description {
        font-size: 1.9rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.9rem;
    }

    #campaign-call-to-action .call-to-action-text-container {
        font-size: 2.5rem;
    }

    #campaign-contact-button {
        font-size: 2rem;
    }
}

/* LAYOUT 4 */
@media (min-width: 992px) {
    #autumn-2023-campaign {
        height: min(180vw, 2150px);
    }

    /* SM BUBBLE */
    #autumn-2023-campaign .bubble-sm {
        height: min(40vw, 480px);
        width: min(40vw, 480px);
    }

    #autumn-2023-campaign .bubble-sm-inner {
        height: min(25vw, 300px);
        width: min(25vw, 300px);
    }

    /* MD BUBBLE */
    #autumn-2023-campaign .bubble-md {
        height: min(45vw, 540px);
        width: min(45vw, 540px);
    }

    #autumn-2023-campaign .bubble-md-inner {
        height: min(30vw, 360px);
        width: min(30vw, 360px);
    }

    /* MD-LG BUBBLE */
    #autumn-2023-campaign .bubble-md-lg {
        height: min(65vw, 780px);
        width: min(65vw, 780px);
    }

    #autumn-2023-campaign .bubble-md-lg-inner {
        height: min(50vw, 600px);
        width: min(50vw, 600px);
    }

    #autumn-2023-campaign .background-bubbles .big-bubble {
        width: min(95vw, 1140px);
        height: min(95vw, 1140px);
    }

    #big-bubble-1 {
        right: min(1vw, 60px);
    }

    #big-bubble-2 {
        left: min(1vw, 60px);
        top: min(66vw, 792px);
    }

    #background-bubble-3 {
        top: min(38vw, 456px);
        right: min(3vw, 36px);
    }

    #background-bubble-4 {
        top: min(97vw, 1164px);
        right: min(19vw, 228px);
    }

    #autumn-2023-campaign .background-bubbles .bubble-md {
        width: min(60vw, 720px);
        height: min(60vw, 720px);
    }

    #autumn-2023-campaign .background-bubbles .bubble-sm {
        width: min(30vw, 360px);
        height: min(30vw, 360px);
    }

    #photo-1 {
        height: min(24vw, calc(24*12px));
        width: min(24vw, calc(24*12px));
        top: min(2vw, calc(2*12px));
        right: min(7vw, calc(7*12px));

    }

    #photo-2 {
        height: min(22vw, calc(22*12px));
        width: min(22vw, calc(22*12px));
        top: min(80vw, calc(80*12px));
        left: min(1vw, calc(1*12px));
    }

    #photo-3 {
        height: min(26vw, calc(26*12px));
        width: min(26vw, calc(26*12px));
        top: min(94vw, calc(94*12px));
        right: min(1vw, calc(1*12px));
    }

    #photo-4 {
        height: min(23vw, calc(23*12px));
        width: min(23vw, calc(23*12px));
        top: min(140vw, calc(140*12px));
        left: min(15vw, calc(15*12px));
    }

    #campaign-title {
        left: min(3vw, 36px);
        font-size: 2.4rem;
    }

    #campaign-description {
        top: min(14vw, 144px);
        right: min(3vw, 36px);
        font-size: 1.8rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 1.9rem;
    }

    #autumn-2023-campaign .md-lg-text-container {
        margin-top: 2rem;
    }

    #campaign-point-1 {
        top: min(35vw, 420px);
        left: min(3vw, 36px);
    }

    #campaign-point-2 {
        top: min(61vw, 732px);
        left: min(19vw, 228px);
    }

    #campaign-point-3 {
        top: min(69vw, 828px);
        right: min(12vw, 144px);
    }

    #campaign-call-to-action {
        top: min(91vw, 1092px);
        left: min(10vw, 120px);
    }

    #campaign-call-to-action.bubble-md {
        height: min(65vw, 780px);
        width: min(65vw, 780px);
    }

    #campaign-call-to-action .bubble-md-inner {
        height: min(50vw, 600px);
        width: min(50vw, 600px);
    }

    #autumn-2023-campaign .call-to-action-text-container {
        font-size: 2.3rem;
        margin-top: .5rem;
    }

    #campaign-contact-button {
        padding: .7rem 1.5rem;
    }
}

@media (min-width: 1050px) {
    #campaign-title {
        font-size: 2.5rem;
    }

    #campaign-description {
        font-size: 1.9rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 2.1rem;
    }

    #campaign-call-to-action .call-to-action-text-container {
        margin-top: .5rem;
        font-size: 2.5rem;
    }
}

@media (min-width: 1100px) {
    #campaign-title {
        font-size: 2.8rem;
    }

    #campaign-description {
        font-size: 2.1rem;
    }

    #autumn-2023-campaign .campaign-point {
        font-size: 2.3rem;
    }
}